.box {
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  color: #fff;
}

.skyblue {
  background: deepskyblue;
}

.lightseagreen {
  background: lightseagreen;
}

.purple {
  background: rebeccapurple;
}

.red {
  background: indianred;
}

h1
{
  color: lightseagreen
}

.contentMain {  
  margin-top: 100px; 
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightgrey;
}

.contentMain1 {  
  margin-top: 100px; 
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: wheat;
}